body {
    margin: 0;
    height: 800px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 800px;
}

.top {
    margin: 0;
    color: white;
    position: sticky;
    background-color: black;
    top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 28px;
    height: 30px;
}

.MENU1 {
    margin-left: 10px;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

.MENU1:hover {
    color: #6DB4FA;
}

.MENU2 {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    text-decoration: none;
    color: white;
    transition: all 300ms ease-in-out;
}

.MENU2:hover {
    color: #ff7e28;
}

.flexitem1 {
    background-color: #191A1C;
    align-items: flex-start;
    width: 100%;
    height: 800px;
}

.flexitem2 {
    background-color: #343537;
    align-items: flex-start;
    width: 100%;
    height: 800px;
}

.somediv {
    width: 100%;
    height: 350px;

    background-color: none;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10%;

}

.mymypic {

    width: 225px;
    height: 300px;

    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #292A2E;

    box-shadow: 5px 5px #0A0E19;

    transition: all 200ms ease-in-out;
}

.mymypic:hover {
    width: 231px;
    height: 308px;
}

.somediv2 {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: 700;
    font-family: monospace;
    text-decoration: none;

    color: white;

    transition: all 200ms ease-in-out;

    margin: 0;
    text-align: center;
}

.title:hover {
    font-size: 42px;
    color: #499eff;
}

.somediv3 {
    width: 100%;
    height: 100px;

    background-color: none;

    display: flex;
    justify-content: center; 
    align-items: center;
}

.page1btn {
    color: #B6B6B6;
    background-color: #343537;
    font-size: 25px;
    font-weight: 700;
    font-family: monospace;
    
    border-radius: 50px;
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center; 
    align-items: center;

    text-decoration: none;

    z-index: 2;

    transition: all 200ms ease-in-out;

}

.page1btn:hover {
    color: #499eff;
    width: 208px;
    height: 52px;
}










.title2 {
    font-size: 40px;
    font-weight: 700;
    font-family: monospace;
    text-decoration: none;

    color: white;

    transition: all 200ms ease-in-out;

    margin: 0;
    text-align: center;
}

.title2:hover {
    font-size: 42px;
    color: #ff7e28;
}

.page1btn2 {
    color: #B6B6B6;
    background-color: #191A1C;
    font-size: 25px;
    font-weight: 700;
    font-family: monospace;
    
    border-radius: 50px;
    width: 200px;
    height: 50px;

    display: flex;
    justify-content: center; 
    align-items: center;

    text-decoration: none;

    transition: all 200ms ease-in-out;
}

.page1btn2:hover {
    color: #ff7e28;
    width: 208px;
    height: 52px;
}


@media screen and (max-width: 500px) and (min-width: 0px) {
    
    .container {
        flex-direction: column;
    }
    .flexitem {
        width: 100%;
        height: 100%;
    }

    .somediv {
        width: 100%;
        height: 280px;
    
        background-color: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mymypic {

        width: 180px;
        height: 240px;
    
        border-radius: 50px;
        border-style: solid;
        border-width: 5px;
        border-color: #292A2E;
    
        box-shadow: 5px 5px #0A0E19;
    
        transition: all 200ms ease-in-out;
    }

    .page1btn {
        color: #B6B6B6;
        background-color: #343537;
        font-size: 20px;
        font-weight: 700;
        font-family: monospace;
        
        border-radius: 50px;
        width: 160px;
        height: 40px;
    
        display: flex;
        justify-content: center; 
        align-items: center;
    
        text-decoration: none;
    
        transition: all 200ms ease-in-out;
    }
    