* {
    margin: 0;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

:root {
    --deep: hsl(230, 10%, 10%);
}

body {
    background-color: hsl(230, 10%, 10%);
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    background-color: hsl(230, 10%, 13%);
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_t {
    transition: all 250ms;
}

.nav_t:hover {
    transform: scale(1.5);
    color: aquamarine;
}

.palm {
    margin-left: 20px;
}

.welcome {
    margin-top: 200px;
    background-color: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 50px;
    color: white;
}

.learn_more {
    margin-top: 20px;
    border-radius: 100px;
    color: white;
    background-color: hsl(230, 10%, 20%);
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
}

.learn_more:hover {
    background-color: hsl(230, 10%, 50%);
    transform: scale(1.1);
}

.space1 {
    height: 300px;
}

.card_container {
    background-color: none;
    width: 100%;
    height: 600px;

    display: flex;
    justify-content: center;
    gap: 20px;

}

.card {
    background-color: hsl(230, 10%, 15%);
    width: 300px;
    height: 500px;
    border-radius: 20px;
    transition: all 500ms;
}

.timpalm {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    transition: all 500ms;
}

/* .timpalm:hover{
    width: 80%;
} */

.card_inside {
    background-color: hsl(230, 10%, 20%);
    width: 260px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.card_inside_text {
    padding-top: 10px;
    text-align: center;
}

.card_inside_paragraph {
    color: hsl(230, 10%, 70%);
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 5px;
}
