body {
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    width: 100%; /* Ensure it spans the full width of the viewport */
    max-width: 100%; /* Prevent overflow */
    overflow-x: hidden; /* Hide any horizontal overflow */
    box-sizing: border-box; /* Include padding and borders in width/height calculations */
    background-color: 191A1C;

    font-family: "Noto Sans Thai", sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    height: 3500px;
}

.topbar {

    color: #9b9b9b;
    background-color: #191A1C;

    padding-bottom: 0;
    border-bottom: 2px solid black;

    margin: 0;

    position: sticky;
    top: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    z-index: 9999;
}

.topbarleft {
    margin: 10;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.myname {


    text-decoration: none;
    color: #9b9b9b;    
    font-weight: 700;

    transition: all 300ms ease-in-out;
}

.myname:hover {
    color: #7FF8FB;
    content: 'Back';
}

.fb {
    color: #9B9B9B;
    transition: all 300ms ease-in-out;
}

.fb:hover {
    color: #67ACF9;
    transform: scale(1.1);
}

.ig {
    color: #9B9B9B;
    transition: all 300ms ease-in-out;
}

.ig:hover {
    color: #67ACF9;
    transform: scale(1.1);
}

.github {
    color: #9B9B9B;
    transition: all 300ms ease-in-out;
}

.github:hover {
    color: #67ACF9;
    transform: scale(1.1);
}

.topbarright {
    margin: 10;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

.topbarrighttext {
    margin-top: 2px;

    text-decoration: none;
    color: #9b9b9b;
    font-weight: 700;

    transition: all 300ms ease-in-out;
}

.topbarright a:hover{
    color: #67ACF9;
    font-size: 18px;
}

.point {
    margin-top: auto;
    margin-bottom: auto;
}

#ABOUT {
    padding-top: 50px; /* Adjust this value based on your header's height */
    margin-top: -100px; /* Adjust to pull the section up */
}

#SKILL {
    padding-top: 50px; /* Adjust this value based on your header's height */
    margin-top: -100px; /* Adjust to pull the section up */
}

#WORK {
    padding-top: -150px; /* Adjust this value based on your header's height */
    margin-top: -250px; /* Adjust to pull the section up */
}

#CONTACT {
    padding-top: 100px; /* Adjust this value based on your header's height */
    margin-top: -100px; /* Adjust to pull the section up */
}

.page1 {
    height: 500px;
}

.p1text {
    color: white;
    font-size: clamp(3vh, 5vw, 7vh); /* Responsive text size */
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 90%; /* Keep container width flexible for responsiveness */
    line-height: 1.2; /* Adjust line spacing */
    white-space: nowrap; /* Prevent text from wrapping */
}


.page1btn {
    color: #B6B6B6;
    background-color: #343537;
    font-size: 25px;
    font-weight: 700;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    line-height: 55px;
    border-radius: 50px;

    width: 200px;
    height: 50px;

    text-decoration: none;

    transition: all 250ms ease-in-out;
}

.page1btn:hover {
    background-color: #4c4e51;
    transform: scale(105%);
}

.page2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: auto;
    padding: 50px 20px;
    background-color: none;
    opacity: 100%;
}

.whoami {
    width: 100%;
    max-width: 400px;
    padding: 0; /* Remove any added padding */
    margin-left: 0; /* Or set a specific value like `20px` */
}


.whoami1 {
    font-size: clamp(36px, 5vw, 72px);
    background-image: linear-gradient(#499eff 20%, #97f8fd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    text-align: left;
    margin-bottom: -30px;
}

.whoami2 {
    color: #B8B8BA;
    font-size: clamp(20px, 3vw, 40px);
    text-align: left;
    margin-top: -10px;
}


/* .whoami2 {
    color: #B8B8BA;
    font-size: 40px;

    position: absolute;
    left: 3px;
    bottom: 0;
} */

.p2phase {

    width: 100%;

}

.p2text {
    color: white;
    font-weight: 500;
    font-size: 36px;
    text-align: justify;

    width: 800px;
    height: 300px;

    background-color: none;

    margin-top: auto;
    margin-bottom: auto;

    display: inline-block;
}

.rwb {
    color: #ffb185;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

.rwb:hover {
    color: #F27025;
}

.mypic {
    background-color: none;
    width: 263px;
    height: 350px;

    margin-top: auto;
    margin-bottom: auto;

    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mymypic {


    width: 225px;
    height: 300px;

    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #292A2E;

    box-shadow: 5px 5px #0A0E19;
}

.flipcard {
    background-color: transparent;
    width: 225px;
    height: 300px;

    /* border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #292A2E;

    box-shadow: 5px 5px #0A0E19; */

    perspective: 1000px;
}

.flipcardinner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipcard:hover .flipcardinner {
    transform: rotateY(170deg) scale(150%);
}

.flipcardfront, .flipcardback {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }


.flipcardfront {
    width: 225px;
    height: 300px;
}
  

.flipcardback {
    color: white;

    width: 225px;
    height: 300px;

    width: 225px;
    height: 300px;

    border-radius: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: #292A2E;

    box-shadow: 5px 5px #0A0E19;
    
    transform: rotateY(170deg);
}


.p2flex {
    background-color: none;
    opacity: 100%;


    margin-left: auto;
    margin-right: auto;

    width: 1500px;
    height: 400px;

    z-index: 3;


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.page35 {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;

    height: 700px;
    background-color: none;
    position: relative;


}

.grid {
    width: 100%;
    height: 450px;

    background-color: none;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}

.page35window {
    width: 300px;
    height: 200px;
    background-color: #2A2B2D;
    border-radius: 40px;
    transition: all 250ms ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;    /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.page35window:hover {
    background-color: #444648;
    transform: scale(102%);
    box-shadow: 7px 7px #161719; 
}

.p35title {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align text and image */
    text-align: center;
}

.p35icon {
    width: 60px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add spacing between image and title */
}

.p35Graphic {
    background-image: linear-gradient(#499eff 20%, #97f8fd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.p35Graphichtml {
    background-image: linear-gradient(#E44F26 20%, #ff8f5f 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.p35Graphicjava {
    background-image: linear-gradient(#c21500 20%, #ffc500 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.p35Graphicpr {
    background-image: linear-gradient(#5f2c82 20%, #49a09d 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.p35Graphicpho {
    background-image: linear-gradient(#182848 20%, #4b6cb7 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
}

.p35job {
    margin-top: 0;
    color: #F6F6F8;
    font-weight: 500;
    font-size: 20px;
}



.page35gridtop {
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.page35gridbottom {
    margin-top: 10px;

    gap: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}














.page3 {
    height: 600px;
}

.p3mainwindow {
    background-color: none;

    border-radius: 50px;
    border-style: dashed;
    border-color: #7FF8FB;
    border-width: 2px;

    width: 1000px;
    height: 400px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    position: relative;

}



.p3titleparent {
    background-image: linear-gradient(120deg, #499eff 25%, #97f8fd 50%, #499eff 75%);

    position: absolute;

    width: 350px;
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 27px;
    font-weight: 700;
    color: white;

    border-radius: 20px;

    top: -30px;
}

.p3insidewindow {
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.p3window {
    background-color: #2A2B2D;
    width: 450px;
    height: 300px;
    box-shadow: 7px 7px #161719;
    border-radius: 40px;

    margin-top: 50px;

    transition: all 250ms ease-in-out;
}

.p3window:hover {
    background-color: #444648;
    width: 450px;
    height: 300px;
    box-shadow: 7px 7px #161719;
    border-radius: 40px;

    margin-top: 50px;

}

.allwork {
    color: #B6B6B6;
    background-color: #343537;
    font-size: 25px;
    font-weight: 700;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;

    line-height: 55px;
    border-radius: 50px;

    width: 200px;
    height: 50px;

    text-decoration: none;

    transition: all 250ms ease-in-out;
}

.allwork:hover {
    background-color: #4c4e51;
    transform: scale(105%);
}

.p3pic {
    height: 125px;

    border: #202027;
    border-style: solid;
    border-width: 5px;
    box-shadow: 5px 5px #131A24;
}

.p3picflex {
    display: flex;;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-top: 30px;

}

.p3w1window {
    background-color: none;
    width: 420px;
    height: 120px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    position: relative;
}

.morephoto {
    position: absolute;
    right: 0;
    /* text-decoration: none; */
    color: #B8B8BA;
    font-weight: 700;
}

.p3w1title {
    position: absolute;
    background-color: none;
    width: 300px;
    height: 100px;
    top: 15px;
}

.p3Graphic {
    background-image: linear-gradient(#499eff 20%, #97f8fd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 35px;
    font-weight: 700;
}

.p3job {
    margin-top: 0;
    color: #BBBCBE;
    font-weight: 500;
    font-size: 25px;
}

.p3picmaiflex {
    display: flex;
    justify-content: center;

    margin-top: 30px;

}

.p3pic1 {
    height: 125px;
    width: 400px;

    border: #202027;
    border-style: solid;
    border-width: 5px;
    box-shadow: 5px 5px #131A24;

    position: relative;
}

.p3pic2 {
    height: 80px;
    width: 120px;

    border: #202027;
    border-style: solid;
    border-width: 5px;
    box-shadow: 5px 5px #131A24;

    position: absolute;

    right: 80px;
    top: 180px;
}

.page4 {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.chongtangtidtor {
    background-image: linear-gradient(#499eff 40%, #97f8fd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-align: center;
    font-size: 50px;

    margin: 0;
}

.contactmehere {
    margin: 0;
    text-align: center;
    color: #B5B7B6;
    font-size: 30px;
}

.p4grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.p4subgrid {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    
}

.abc {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #B5B7B6;
    font-weight: 700;
    font-size: 20px;

    transition: all 300ms ease-in-out;
}

.abc:hover {
    color: #67ACF9;
    transform: scale(105%);
}

.thumbnail {
    width: 50px;
    border-radius: 25px;

    transition: all 300ms ease-in-out;
}

.thumbnail:hover {
    width: 60px;
}

.p4subgrid2 {
    border-left: 2px solid #97f8fd;
    padding-left: 40px;
}

@media screen and (max-width: 768px) {
    /* CSS rules for mobile devices */

    html {
        height: 3000px;
    }

    .topbar {
        color: #9b9b9b;
        background-color: #191A1C;
    
        width: 100%; /* Ensure it spans the full width */
        padding-bottom: 0;
        border-bottom: 2px solid black;
    
        margin: 0;
    
        position: fixed;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    
        z-index: 9999;
    }

    .topbarleft {
        transform: scale(120%);
        margin-left: 4vh;
    }

    .topbarright {
        transform: scale(120%);
        margin-right: 6vh;
    }

    .page2 {
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 800px;
        padding: 50px 20px;
        background-color: none;
        opacity: 100%;
    }

    .whoami {
        margin-left: 20px;
    }

    .whoami1 {
        font-size: clamp(36px, 5vw, 72px);
        background-image: linear-gradient(#499eff 20%, #97f8fd 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: relative;
        text-align: left;
        margin-bottom: -10px;
    }

    .whoami2 {
        color: #B8B8BA;
        font-size: clamp(20px, 3vw, 40px);
        text-align: left;
        margin-top: -5px;
    }

    .p2flex {
        background-color: none;
        opacity: 100%;
    
    
        margin-left: auto;
        margin-right: auto;
    
        width: 1500px;
        height: 400px;
        max-width: 90%;
    
        z-index: 3;
    
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .p2text {
        color: white;
        font-weight: 500;
        font-size: 28px;
        text-align: justify;
    
        width: 100%;
        height: 250px;
    
        background-color: none;
    
        margin-top: 50px;
        margin-bottom: auto;
    
        display: inline-block;
    }

    .mypic {
        background-color: none;
        width: 263px;
        height: 350px;
    
        margin-top: auto;
        margin-bottom: auto;
    
        z-index: 2;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page3 {
        width: 100%;
    }


    .page35 {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    
        height: 700px;
        background-color: none;
        position: relative;
    
    
    }

    .grid {
        width: 100%;
        height: 450px;
    
        background-color: none;
    
        margin-left: auto;
        margin-right: auto;
    
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
    
    }
    
    .page35window {
        width: 300px;
        height: 200px;
        background-color: #2A2B2D;
        border-radius: 40px;
        transition: all 250ms ease-in-out;
        position: relative;
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center;    /* Center items horizontally */
        justify-content: center; /* Center items vertically */
    }

    /* .page35gridtop {
        gap: 10px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    } */

    .page35gridtop {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Horizontally centers items */
        align-items: center; /* Vertically centers items */
    }

    .page35gridtop > div { /* Targets each child element */
        flex: 0 1 200px; /* Two items per row, accounting for the gap */
        box-sizing: border-box; /* Ensures padding doesn't affect width */
    }
    
    .page35gridbottom {
        margin-top: 10px;
    
        gap: 10px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
    }

    .page3 {
        height: max-content;
    }

    .p3mainwindow {
        background-color: none;
    
        border-radius: 50px;
        border-style: dashed;
        border-color: #7FF8FB;
        border-width: 2px;
    
        width: 90%;
        height: 800px;
    
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    
        position: relative;
    
    }

    .p3insidewindow {
        display: flex
    ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    .p3window {
        margin-top: 40px;
    }


    
    .p3pic2 {
        height: 80px;
        width: 120px;
    
        border: #202027;
        border-style: solid;
        border-width: 5px;
        box-shadow: 5px 5px #131A24;
    
        position: absolute;
    
        right: 160px;
        top: 530px;
    }

    #contact {
        width: 0;
    }

    .page4 {

        transform: scale(80%);

    }

  }